body {
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page .card,
#create-account-page .card {
    width: 400px;
}

.navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#admin-home table img {
    height: 50px;
    width: auto;
}

.actions-col {
    width: 130px;
}

.card {
    min-width: 300px;
}

#create-product form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

#create-product form img {
    position: absolute;
    top: 50%;
    min-height: 20px;
    left: calc(100% + 32px);
    width: 200px;
    transform: translateY(-50%);
}

#edit-product form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

#edit-product form img {
    position: absolute;
    top: 50%;
    min-height: 20px;
    left: calc(100% + 32px);
    width: 200px;
    transform: translateY(-50%);
}